Repository RunningDuk/UniRun-FE, pull requests merged in 2024-10, with the labels that each got.

#17 feat : 기능 재구현, UI 수정, 연동 세팅
  App.tsx
  assets/addressButton.png
  assets/nftBanner.png
  package-lock.json
  package.json
  src/api/axiosInstance.ts
  src/api/blockchainAPI.ts
  src/api/calendarAPI.ts
  src/api/memberAPI.ts
  src/api/runningAPI.ts
  src/components/RunningItem.tsx
  src/components/UnivList.tsx
  src/modal/AddressModal.tsx
  src/modal/DeleteRecordModal.tsx
  src/modal/DeleteScheduleModal.tsx
  src/modal/RunningDoneModal.tsx
  src/modal/RunningStartModal.tsx
  src/screens/Home/Record.tsx
  src/screens/Home/Running.tsx
  src/screens/Login/Input.tsx
  src/screens/NFT/Nft.tsx
Labels: api, feat

#19 feat : 로그인 api 연동
  App.tsx
  ios/Podfile.lock
  ios/UniRunFE/Info.plist
  package-lock.json
  package.json
  src/api/axiosInstance.ts
  src/api/memberAPI.ts
  src/components/LoginRedirect.tsx
  src/components/LoginWebview.tsx
  src/screens/Calendar/CreateRun.tsx
  src/screens/Login/Input.tsx
  src/screens/Login/Login.tsx
  src/screens/My/Mypage.tsx
Labels: api, fix

#21 feat: 구글맵 추가 및 현재 위치 설정
  ios/Podfile
  ios/Podfile.lock
  ios/UniRunFE/AppDelegate.mm
  ios/UniRunFE/Info.plist
  package-lock.json
  package.json
  src/screens/Home/Record.tsx
  src/screens/Home/Running.tsx
Labels: feat, 홈 화면

#25 feat : 로그아웃, 회원탈퇴 api 연동
  App.tsx
  src/api/axiosInstance.ts
  src/api/memberAPI.ts
  src/components/LoginRedirect.tsx
  src/screens/My/Mypage.tsx
Labels: api, feat

#33 feat : 웹소켓 기능 구현
  src/api/runningAPI.ts
  src/api/webSocketService.ts
  src/modal/RunningStartModal.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/Running.tsx
Labels: api, feat

#34 feat : 러닝 타입 조회 api 연동
  src/api/runningAPI.ts
  src/modal/RunningDoneModal.tsx
Labels: api, feat

#37 feat : 러닝 기록 전체 조회 api 연동
  src/api/runningAPI.ts
  src/components/RunningItem.tsx
  src/components/RunningList.tsx
  src/screens/My/MyRunning.tsx
Labels: api, feat

#40 feat : 메타마스크 지갑 웹뷰 설정
  App.tsx
  ios/UniRunFE/Info.plist
  package-lock.json
  package.json
  src/components/MetaMaskWebview.tsx
  src/screens/Login/Input.tsx
Labels: feat, 블록체인

#46 feat : 토큰 잔액 조회, 지갑 주소 조회 api 연동
  src/api/blockchainAPI.ts
  src/api/runningAPI.ts
  src/components/UnivList.tsx
  src/modal/AddressModal.tsx
  src/screens/NFT/Nft.tsx
Labels: api, feat, 블록체인

#47 feat : nft 아이템 조회 api 연동
  src/api/blockchainAPI.ts
  src/components/UnivItem.tsx
  src/components/UnivList.tsx
  src/screens/NFT/Nft.tsx
Labels: api, feat, 블록체인

#48 feat : 토큰 리워드 api 연동
  src/api/blockchainAPI.ts
  src/api/runningAPI.ts
  src/screens/Home/Record.tsx
Labels: api, feat

#49 feat : 사용자 소유 nft 아이템 조회 api 연동
  src/api/blockchainAPI.ts
  src/components/MyList.tsx
Labels: api, feat, 블록체인

#52 chore : 서버주소 변경
  ios/UniRunFE/Info.plist
  src/api/axiosInstance.ts
  src/api/calendarAPI.ts
  src/components/LoginRedirect.tsx
  src/components/LoginWebview.tsx
  src/modal/RunningDoneModal.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/Running.tsx
Labels: api, feat

#53 feat : 날짜별 러닝 스케줄 조회 api 연동
  src/api/calendarAPI.ts
  src/components/CalendarItem.tsx
  src/components/CalendarList.tsx
  src/screens/Calendar/Calendar.tsx
Labels: api, feat, 캘린더, ui, 🐱하늘

#55 chore : 서버주소 변경
  ios/UniRunFE/Info.plist
  src/api/axiosInstance.ts
  src/api/calendarAPI.ts
  src/components/LoginRedirect.tsx
  src/components/LoginWebview.tsx
  src/modal/RunningDoneModal.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/Running.tsx
Labels: api, feat, setting, 🐱하늘

#56 feat : 러닝 스케줄 작성 api 연동
  src/api/calendarAPI.ts
  src/screens/Calendar/Calendar.tsx
  src/screens/Calendar/CreateRun.tsx
Labels: api, feat, 캘린더, 🐱하늘

#58 chore : 서버주소 변경
  ios/UniRunFE/Info.plist
  src/api/axiosInstance.ts
  src/components/LoginRedirect.tsx
  src/components/LoginWebview.tsx
  src/modal/RunningDoneModal.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/Running.tsx
Labels: setting, 🐱하늘
